html {
  font-size: 10px;
  height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000000;
  color: #ffffff;
}

canvas {
  position: fixed;
  -webkit-transform: translateZ(0);
  z-index: 9;
  top: 0;
  left: 0;
}

#appChristmas {
  display: flex;
  flex-direction: column;
  background: url('../images/page-bg.png') no-repeat center center/cover;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#installBtn {
  position: absolute;
  z-index: 99;
  top: 1rem;
  right: 1rem;
  padding: .8rem;
  color: #FFFFFF;
  background-color: #3296fc;
  border: 1px solid transparent;
  border-radius: .4rem;
  font-family: 'Charm', cursive;
  font-size: 1.6rem;
  font-weight: lighter;
  cursor: pointer;
  letter-spacing: .1rem;
  white-space: nowrap;
}

@font-face {
  font-family: "Mountains of Christmas";
  font-style: normal;
  src: local("Mountains of Christmas"), local("MountainsofChristmas-Regular"),
  url(https://fonts.gstatic.com/s/mountainsofchristmas/v8/dVGBFPwd6G44IWDbQtPewylJhLDHyIrT3I5b5eGTHmw.woff2) format("woff2");
}

.wished {
  font-family: "Mountains of Christmas";
  margin: 0;
  padding: 0;
  font-size: 12vw;
  white-space: nowrap;
  background: url('../images/text-bg.png') no-repeat;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: moveBg 90s linear infinite;
  -webkit-animation: moveBg 90s linear infinite;
}

img {
  max-width: 100%;
}

@media screen and (min-width: 500px) {
  .wished {
    font-size: 11.5vw;
    margin-top: 12rem;
  }
}

@media (orientation: landscape) {
  img {
    width: 40vw;
  }
}


@media screen and (min-width: 700px) {
  .wished {
    font-size: 9.5vw;
  }
}


@media screen and (min-width: 1025px) {
  .wished {
    font-size: 7vw;
    margin-top: 20rem;
  }
  img {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .wished {
    margin-top: 0;
  }
}

/* Text Background Animation */
@keyframes moveBg {
  0% {
    background-position: 0% 30%;
  }

  100% {
    background-position: 100% 50%;
  }
}
